* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #dadada;
}
#center {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}